#%RAML 1.0
---

title: SSO In
version: 1.0
protocols: [ HTTPS ]
baseUri: https://api.service.hmrc.gov.uk/

documentation:
 - title: Overview
   content: !include docs/overview.md
 - title: Versioning
   content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/versioning.md
 - title: Errors
   content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/errors.md

mediaType: [ application/json, application/hal+json ]

uses:
  sec: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/securitySchemes.raml
  headers: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/headers.raml
  annotations: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/annotations.raml
  types: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/types.raml

/sso-in/sso:
  /ssoin:
    /sessionInfo:
      post:
        displayName: Stores Bearer Token and returns sso-fe url to create session with the Bearer token
        description: Returns a browser link containing session info ID
        is: [headers.acceptHeader]
        (annotations.scope): "read:sso-in"
        securedBy: [ sec.oauth_2_0: { scopes: [ "read:sso-in" ] } ]
        body:
          application/json:
            examples:
              example-1:
                value: !include examples/post-session-info-request.json
        responses:
          200:
            body:
              application/json:
                examples:
                  example-1:
                    value: !include examples/post-session-info-response.json
